/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(src/assets/resources/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.input-group input{
width: 10000px;
}

.input-group .div-checkbox p{
color: #2351cf;
font-size: 15px;
}

.input-group .div-checkbox input{
height: 20px;
width: 30px;
}

.logo{
margin-top: 10px;
padding: 0;
width: 200px;
height: 120px;
max-width: 100%;
max-height:100%;
margin-left: -15px;
}


.form-box{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px 40px;
  width: 50%;
  border-radius: 20px 20px 20px 20px;
  padding-top: 0;
}


.form-box h2{
  font-size: 30px;
  margin-top: 0px;
}

span{
  margin-right:  5px;
}

.descrição{
  margin-top: 5px
}

.form-box form{
  margin: 20px 0;
}

form .input-group{
  margin-bottom: 15px;
}

form .input-group label{
  color: #3D3D3D;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

form .input-group input{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px !important;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
}

form .input-group input:focus{
  border-color: #0043fc7e;
}


form .input-group button{
  width: 100%;
  height: 47px;
  background: #2351cf;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width:930px) {
  .form-box{
      width: 100%;
      border-radius: 20px;
  }
}


.dica-senha{
  color:rgb(252, 214, 0) !important;
}


div.row.senha.col-12{
  display: flex;
}


.fa-eye.senha{
  color: white;
  top: 5px;
  right: 10px;
  cursor: pointer;
  position: absolute;
  margin-top: 335px;
  margin-right: 700px;
}

.fa-eye.confirmar-senha{
  color: white;
  top: 5px;
  right: 10px;
  cursor: pointer;
  position: absolute;
  margin-top: 335px;
  margin-right: 380px;
}

div.dica-senha{
  margin-top: 10px;
}

.senhaLabel{
  margin-left: -10px;
  margin-bottom: 5px;
}

.form-control.input.input-senha{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px !important;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  margin-left: -10px;
}

.form-control.input.input-senha{
  border-color: #0043fc7e;
}

.confirmarSenhaLabel{
  margin-left: 10px;
  margin-bottom: 5px;
}

.form-control.input.input-confirmar-senha{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px !important;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  margin-left: 10px;
}

.form-control.input.input-confirmar-senha{
  border-color: #0043fc7e;
}
