@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.input-group .div-checkbox p{
  color: #2351cf;
  font-size: 15px;
}

.input-group .div-checkbox input{
  height: 20px;
  width: 30px;
}

.input-group .div-checkbox{
  margin-top: 5px;
  display: flex;
  float: left;
  text-align: left;
  justify-content: left;
}

.input-group

.w50{
    padding-right: 15px;
}

.span{
  margin-left: 5px;
  margin-top: 5px;
}


.box{
    display: flex;
    width: 930px;
}


.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: block;
    align-items: center;
    padding: 100px;
    border-radius: 20px 0 0 20px;
    justify-content: center;
    text-align: center;
}

.titulo, .subtitulo{
  padding: 5px;
}




.subtitulo{
  color: #3D3D3D;
}



.logo{
  margin-top: 10px;
  padding: 0;
}



.img-box img{
    width: 100%
}



.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}




.form-box h2{
    font-size: 30px;
    margin-top: 50px;
}


.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}


.form-box p a{
    color: #2351cf;
    text-decoration: none;
}


.form-box form{
    margin: 20px 0;
}



form .input-group{
    margin-bottom: 15px;
}



form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}



form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px !important;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}


form .input-group input:focus{
    border-color: #0043fc7e;
}



form .input-group button{
    width: 100%;
    height: 47px;
    background: #2351cf;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}



@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}
