<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Sistema Receituário</title>
    <link rel="stylesheet" href="tela-cadastro.component.css">
</head>

<body>
    <div class="box">
        <div class="img-box">
            <h3 class="titulo">Bem Vindo!</h3>
            <h4 class="subtitulo">Cadastre-se no APP DOCTOR!</h4>
            <img class="logo" src="/assets/resources/img/logo.png">
        </div>
        <div class="form-box">
            <h2>Criar Conta</h2>
            <p> Já possui conta? <a [routerLink]="['/login']" > Login </a> </p>
            <form action="#">
                <div class="input-group">
                    <label for="nome"> Nome Completo</label>
                    <input type="text" id="nome" placeholder="Digite o seu nome completo" required>
                </div>

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="Digite o seu email" required>
                </div>

                <div class="input-group w50">
                    <label for="password">Senha</label><input type="password" name="password" id="password"  minlength="8" maxlength="30" onKeyUp="verificaForcaSenha();" placeholder="Digite sua senha"/>
                    <div class="div-checkbox">
                      <input id="caixa-checkbox" type="checkbox" onclick="mostrarSenha()">
                      <p class="mostrar-senha">Mostrar Senha</p>
                    </div>
                  </div>


                <div class="input-group">
                    <button>Cadastrar</button>
                </div>

            </form>
        </div>
    </div>

<script>
    function mostrarSenha() {
      var senha = document.getElementById("password");
      if (senha.type === "password" ) {
        senha.type = "text";
      } else {
        senha.type = "password";
      }
    }
</script>

</body>
</html>
