<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Doctor</title>
  </head>
  <body>
    <h1>Seja bem-vindo ao App Doctor!</h1>
    <p>
      Ao logar com os dados abaixo, você poderá acessar todos os documentos
      gerados em sua consulta, tais como: Receituário e Atestado.
    </p>
    <ol>
      <li>Usuário: <%= email %></li>
      <li>Senha: CPF somente numeros</li>
    </ol>
    <p>Recomendamos que altere a senha ao realizar seu primeiro acesso.</p>
    <p>Link de acesso:</p>
    <a href="<%- url %>">APP DOCTOR</a>
  </body>
</html>
