<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Doctor</title>
  </head>
  <body>
    <h1>Recuperação de senha</h1>
    <p>
      Acesse o link a baixo para atualizar a senha.
    </p>
    <ul>
      <li>Usuário: <%= email %></li>
    </ul>
    <p>Link de acesso para recuperação:</p>
    <a href="<%- url %>">APP DOCTOR</a>
  </body>
</html>
