<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Doctor</title>
  </head>
  <body>
    <h1>Aviso sobre seu cadastro</h1>
    <p>
      Seus dados foram alterado com sucesso!
    </p>
    <ol>
      <li>Usuário: <%= email %></li>
    </ol>
    <p>Link de acesso:</p>
    <a href="<%- url %>">APP DOCTOR</a>
  </body>
</html>
