<!doctype html>
<html lang="pt-br">
  <head>
  	<title>App Doctor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="tela-sistema-realizar-consulta.component.css">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
	  		<h1><a href="tela-sistema-realizar-consulta.component.html" class="logo">AppDoctor</a></h1>


        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a routerLink="/home" routerLinkActive="active"><span class="fa fa-home mr-3"></span>Página Inicial</a>
          </li>

          <li>
              <a routerLink="/cadastrar-medico" routerLinkActive="active"><span class="fa fa-user-md mr-3"></span> Cadastrar Médico</a>
          </li>


          <li>
            <a routerLink="/" routerLinkActive="active"><span class="fa fa-search mr-3"></span> Pesquisar Médico</a>
          </li>



          <li>
            <a routerLink="/cadastrar-paciente" routerLinkActive="active"><span class="fa fa-user mr-3"></span> Cadastrar Paciente</a>
          </li>


          <li>
            <a routerLink="/" routerLinkActive="active"><span class="fa fa-search mr-3"></span> Pesquisar Paciente</a>
          </li>

          <li>
            <a routerLink="/realizar-consulta" routerLinkActive="active"><span class="fa fa-address-card-o mr-3" style="color:rgb(255, 255, 255)"></span><strong>Realizar Consulta</strong></a>
          </li>


          <li>
            <a><span class="fa fa-sign-out mr-3"></span>Sair</a>
          </li>



          <!-- <li>
            <a href="#"><span class="fa fa-cogs mr-3"></span> Configurações</a>
          </li> -->
        </ul>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">





       <!-- <div class="row titulo-e-pesquisar">
          <div>
            <header>
              <h3 id="titulo"> <span class="fa fa-user icone-titulo"></span>Dados do Paciente</h3>
            </header>

          </div>

          <div class="input-group">
            <input type="search" class="form-control rounded input-pesquisar" placeholder="Digite o nome do paciente" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">Search</button>
          </div>

        </div> -->

        <div class="formulario">
          <form>
            <div class="row titulo-e-pesquisar col-12">
              <div class="titulo col-5">
                <header>
                  <h3 id="titulo"> <span class="fa fa-user icone-titulo"></span>Dados do Paciente</h3>

                </header>

              </div>

              <div class="input-group col">
                <input type="search" class="form-control rounded input-pesquisar" placeholder="Digite o nome do paciente" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">Search</button>
              </div>

            </div>




            <div class="row nome col-12">
              <div class="col nome">
                <label>Nome Completo</label>
                <input id="nome" name="nome" type="text" class="form-control input"  placeholder="Digite o Nome" required>
              </div>
            </div>

            <div class="row nascimento-crm-telefone col-12">
                <div class="form-group col-4" >
                  <label class="data-nascimento">Data de Nascimento</label>
                  <input  id="data"  name="begin" type="date" class="form-control input"   placeholder="Data de Nascimento" value="" min="1940-01-01" max="2023-12-31" required>
                </div>

                <div class="form-group col-4">
                  <label>CPF</label>
                  <input id="cpf" name="cpf" type="text" class="form-control input"  placeholder="Ex: 99999999999" onblur="formataCPF(this)" required>
                </div>


                <div class="form-group col-4">
                  <label>Telefone (com DDD)</label>
                  <input id="telefone" name="telefone" type="tel"  class="form-control input"  placeholder="Ex: 11999999999"  onkeydown="return mascaraTelefone(event)" required>
                  <div class="help-block with-errors"></div>
                </div>

            </div>

            <div class= "row endereco-1 col-12 ">
              <div class="col-8">
                <label>Endereço</label>
                <input id="endereco" name="endereco" type="text" class="form-control input"  placeholder="Ex: Rua App Doctor" required>
              </div>

              <div class="col-4">
                <label>Número</label>
                <input id="numero" name="numero" type="number" class="form-control input"  placeholder="Ex: 398" required>
              </div>
            </div>


            <div class="row endereco-2 col-12">
                <div class="col-md-3 col-sm-3">
                    <label>Estado</label>
                    <select id="estado" name="estado" type="text" class="form-control input" required>
                      <option selected>Selecionar Estado...</option>
                      <option>AC</option>
                      <option>AL</option>
                      <option>AP</option>
                      <option>AM</option>
                      <option>BA</option>
                      <option>CE</option>
                      <option>DF</option>
                      <option>ES</option>
                      <option>GO</option>
                      <option>MA</option>
                      <option>MT</option>
                      <option>MS</option>
                      <option>MG</option>
                      <option>PA</option>
                      <option>PB</option>
                      <option>PR</option>
                      <option>PE</option>
                      <option>PI</option>
                      <option>RJ</option>
                      <option>RN</option>
                      <option>RS</option>
                      <option>RO</option>
                      <option>RR</option>
                      <option>SC</option>
                      <option>SP</option>
                      <option>SE</option>
                      <option>TO</option>
                    </select>
                  <!--<input id="estado" name="estado" type="text" class="form-control input" placeholder="Ex: SP"> -->
                 </div>

                <div class="col-md-6 col-sm-6">
                  <label>Cidade</label>
                  <input id="cidade" name="cidade" type="text" class="form-control input" placeholder="Ex: São Paulo" required>
                </div>

                <div class="col-md-3 col-sm-3">
                  <label>CEP</label>
                  <input id="cep" name="cep" type="text" class="form-control input" onblur="formataCEP(this)" placeholder="Ex: 9999999" required>
                </div>
            </div>

            <div class="form-group col-12">
              <label for="inputMedico">Médico Responsável</label>
              <select id="inputMedico" class="form-control col input" required>
                <option selected>Escolher Médico...</option>
                <option>Dr. Vinicius Alves</option>
                <option>Dra. Alice</option>
                <option>Dr. Helio</option>
                <option>Dra. Nathalia</option>
              </select>
            </div>

            <div class="form-group col-12">
              <label for="exampleFormControlTextarea1">Descrição Receituário</label>
              <textarea class="form-control input" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>

            <div class="row atestado col-12">
                <div class="col-4">
                  <h5 class="width: 10px">Deseja adicionar atestado?</h5>
                </div>
                <div class="col-6">
                  <button id="btn-adicionar-atestado" class="btn-adicionar-atestado" >Adicionar</button>
                </div>
            </div>

            <div class="form-group col-12 container-escondido" style="display: none;">
              <label for="exampleFormControlTextarea1">Descrição do Atestado</label>
              <textarea class="form-control input col-12" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>


              <div class="row botoes col-12" >
                <div class="col-md-4 col-sm-4">
                  <button id="cadastrar" type="button" class="btn btn-success" style="width:100%;"><span class="fa fa-stethoscope mr-3 icone"  style="color:rgb(255, 255, 255)"></span>Gerar Receituário</button>
                </div>

                <div class="col-md-4 col-sm-4">
                  <button  id="limpar"  type="button" class="btn btn-primary" style="width:100%;"><span class="fa fa-close mr-3 icone"  style="color:rgb(255, 255, 255)"></span>Gerar Atestado</button>
                </div>

                <div class="col-md-4 col-sm-4">
                  <button id="home" type="button" class="btn btn-secondary" style="width:100%;"><span class="fa fa-home mr-3 icone"  style="color:rgb(255, 255, 255)"></span>Página Inicial</button>
                </div>
              </div>
          </form>
        </div>
      </div>
	</div>


<!-- script para formatar cpf xxx.xxx.xxx.xx -->
<script>
  function formataCPF(cpf) {
    const elementoAlvo = cpf
    const cpfAtual = cpf.value

    let cpfAtualizado;

    cpfAtualizado = cpfAtual.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/,
     function( regex, argumento1, argumento2, argumento3, argumento4 ) {
            return argumento1 + '.' + argumento2 + '.' + argumento3 + '-' + argumento4;
    })
    elementoAlvo.value = cpfAtualizado;
    }
</script>



<!-- script para formatar cep xxx.xxx.xxx.xx -->
 <script>
  function formataCEP(cep) {
    const elementoAlvo = cep
    const cepAtual = cep.value

    let cepAtualizado;

    cepAtualizado = cepAtual.replace(/(\d{5})(\d{3})/,
     function( regex, argumento1, argumento2) {
            return argumento1 + '-' + argumento2;
    })
    elementoAlvo.value = cepAtualizado;
    }
</script>



<!--script para formatar telefone (xx)xxxxx-xxxx -->
<script>
  function mascaraTelefone(event) {
      let tecla = event.key;
      let telefone = event.target.value.replace(/\D+/g, "");

      if (/^[0-9]$/i.test(tecla)) {
          telefone = telefone + tecla;
          let tamanho = telefone.length;

          if (tamanho >= 12) {
              return false;
          }

          if (tamanho > 10) {
              telefone = telefone.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
          } else if (tamanho > 5) {
              telefone = telefone.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
          } else if (tamanho > 2) {
              telefone = telefone.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
          } else {
              telefone = telefone.replace(/^(\d*)/, "($1");
          }

          event.target.value = telefone;
      }

      if (!["Backspace", "Delete"].includes(tecla)) {
          return false;
      }
  }
</script>

<!-- script para ocultar/mostrar descrição do atestado -->

<script>
  var btn = document.getElementById('btn-adicionar-atestado');
  var container = document.querySelector('.container-escondido');
  btn.addEventListener('click', function() {

  if(container.style.display === 'none') {
      container.style.display = 'block';
  } else {
      container.style.display = 'none';
  }
});
</script>

</body>
</html>
