<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>App Doctor</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="tela-agendamentos-pendentes-medico-padrao.component.css"
    />
  </head>

  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <!--  <div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div> -->
        <h1>
          <a href="tela-sistema.component.html" class="logo">AppDoctor</a>
        </h1>

        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a routerLink="/home/medico" routerLinkActive="active"
              ><span class="fa fa-home mr-3"></span>Página Inicial</a
            >
          </li>

          <div class="dropdown2">
            <button onclick="myFunction2()" class="dropbtn2">
              <span class="dois fa fa-user mr-3"></span>Pacientes<span
                class="dois fa fa-caret-down"
              ></span>
            </button>
            <div id="myDropdown2" class="dropdown-content2">
              <li>
                <a
                  routerLink="/cadastrar-paciente-medico-padrao"
                  routerLinkActive="active"
                  ><span class="dois fa fa-user-plus mr-3"></span>Cadastrar
                  Paciente</a
                >
              </li>
              <li>
                <a
                  routerLink="/pesquisar-paciente-medico-padrao"
                  routerLinkActive="active"
                  ><span class="dois fa fa-search mr-3"></span>Pesquisar
                  Paciente</a
                >
              </li>
              <li>
                <a
                  routerLink="/medicos/paciente/:idPaciente/medico/:idMedico/agendamento/:idAgendamento"
                  routerLinkActive="active"
                  ><span class="dois fa fa-address-card-o mr-3"></span>Realizar
                  Consulta</a
                >
              </li>
            </div>
          </div>

          <div class="dropdown5">
            <button onclick="dropdown5()" class="dropbtn5">
              <span class="cinco fa fa-id-card mr-3"></span
              ><strong>Agendamentos</strong
              ><span class="cinco fa fa-caret-down"></span>
            </button>
            <div id="myDropdown5" class="dropdown-content5">
              <li>
                <a
                  routerLink="/agendamentos-historico-medico-padrao"
                  routerLinkActive="active"
                  ><span class="cinco fa fa-history mr-3"></span>Histórico</a
                >
              </li>
              <li>
                <a
                  routerLink="/agendamentos-novos-medico-padrao"
                  routerLinkActive="active"
                  ><span class="cinco fa fa-plus mr-3"></span>Novo</a
                >
              </li>
              <li>
                <a
                  routerLink="/tela-agendamentos-pendentes-medico-padrao"
                  routerLinkActive="active"
                  ><span class="cinco fa fa-clock-o mr-3"></span
                  ><strong>Pendentes</strong></a
                >
              </li>
            </div>
          </div>

          <div class="dropdown3">
            <button onclick="myFunction3()" class="dropbtn3">
              <span class="fa fa-cogs mr-3"></span>Configurações<span
                class="fa fa-caret-down"
              ></span>
            </button>
            <div id="myDropdown3" class="dropdown-content3">
              <li>
                <a href="#"
                  ><span class="fa fa-user-circle mr-3"></span>Meu Perfil</a
                >
              </li>

              <li>
                <a
                  routerLink="/usuarios-pacientes-medico-padrao"
                  routerLinkActive="active"
                  ><span class="fa fa-user mr-3"></span> Usuários Pacientes</a
                >
              </li>

              <li>
                <a (click)="logout()"
                  ><span class="fa fa-sign-out mr-3"></span> Sair</a
                >
              </li>
            </div>
          </div>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="row-1">
          <div class="row-2">
            <div class="row titulo-e-pesquisar col-12">
              <div class="titulo col-6">
                <header>
                  <h3 id="titulo">
                    <span class="fa fa-id-card icone-titulo"></span>Agendamentos
                    Pendentes
                  </h3>
                </header>
              </div>
              <div class="input-group col">
                <input
                  type="search"
                  name="search"
                  [(ngModel)]="filter"
                  class="form-control rounded input-pesquisar"
                  placeholder="Digite o nome do paciente"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <button type="button" class="btn btn-outline-primary">
                  Pesquisar
                </button>
              </div>
            </div>
          </div>

          <div class="row-3">
            <div class="col-12">
              <table
                class="table table-striped table-bordered table-hover table-wrapper">
                <thead>
                  <tr>
                    <th>Id Consulta</th>
                    <th (click)="sort('dataConsulta')">
                      Data<span
                        role="button"
                        style="margin-left: 5px"
                        *ngIf="key == 'dataConsulta'"
                        >{{ reverse ? "▲" : "▼" }}</span
                      >
                    </th>
                    <th>Horário</th>
                    <th>Id Médico</th>
                    <th>Id Paciente</th>
                    <th>Status</th>
                    <th>Ação</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let user of usersArray | filter: filter | orderBy: key:reverse; let i = index">
                    <td class="td_item">{{ i + 1 }}</td>

                    <td class="td_item">
                      <div class="div_item" *ngIf="user.isEdit">
                        <input
                          type="text"
                          [(ngModel)]="user.dataConsulta"
                          class="form-control"
                        />
                      </div>
                      <div class="div_item" *ngIf="!user.isEdit">
                        {{ user.dataConsulta }}
                      </div>
                    </td>

                    <td class="td_item">
                      <div class="div_item" *ngIf="user.isEdit">
                        <input
                          type="text"
                          [(ngModel)]="user.horarioConsulta"
                          class="form-control"
                        />
                      </div>
                      <div class="div_item" *ngIf="!user.isEdit">
                        {{ user.horarioConsulta }}
                      </div>
                    </td>

                    <td class="td_item">
                      <div class="div_item" *ngIf="user.isEdit">
                        <input
                          type="text"
                          [(ngModel)]="user.idMedico"
                          class="form-control"
                        />
                      </div>
                      <div class="div_item" *ngIf="!user.isEdit">
                        {{ user.idMedico }}
                      </div>
                    </td>

                    <td class="td_item">{{ user.idPaciente }}</td>

                    <!--  <td class="td_item">
                            <div class="div_item" *ngIf="user.isEdit">
                              <input type="text" [(ngModel)]="user.endereco" class="form-control"/>
                            </div>
                            <div class="div_item" *ngIf="!user.isEdit">
                              {{user.endereco}}
                            </div>
                          </td>

                          <td class="td_item">
                            <div class="div_item" *ngIf="user.isEdit">
                              <input type="number" [(ngModel)]="user.numero" class="form-control"/>
                            </div>
                            <div class="div_item" *ngIf="!user.isEdit">
                              {{user.numero}}
                            </div>
                          </td>

                          <td class="td_item">
                            <div class="div_item" *ngIf="user.isEdit">
                              <input type="text" [(ngModel)]="user.estado" class="form-control"/>
                            </div>
                            <div class="div_item" *ngIf="!user.isEdit">
                              {{user.estado}}
                            </div>
                          </td>

                          <td class="td_item">
                            <div class="div_item" *ngIf="user.isEdit">
                              <input type="text" [(ngModel)]="user.cidade" class="form-control"/>
                            </div>
                            <div class="div_item" *ngIf="!user.isEdit">
                              {{user.cidade}}
                            </div>
                          </td>

                          <td class="td_item">
                            <div class="div_item" *ngIf="user.isEdit">
                              <input type="text" [(ngModel)]="user.cep" class="form-control"/>
                            </div>
                            <div class="div_item" *ngIf="!user.isEdit">
                              {{user.cep}}
                            </div>
                          </td> -->
                    <td>
                      <select class="select input" disabled="disabled">
                        <option>Pendente</option>
                        <option>Concluído</option>
                        <option>Remarcado</option>
                      </select>
                    </td>

                    <td style="width: 1%" class="td_item text-center">
                      <div class="div_item" *ngIf="user.isEdit">
                        <button
                          class="btn btn-sm btn-success"
                          style="margin-right: 5px"
                        >
                          Remarcar
                        </button>
                        <button
                          class="btn btn-sm btn-danger"
                          (click)="user.isEdit = false"
                        >
                          Cancelar
                        </button>
                      </div>
                      <div class="div_item" *ngIf="!user.isEdit">
                        <button
                          routerLink="/medicos/paciente/:idPaciente/medico/:idMedico/agendamento/:idAgendamento"
                          class="btn btn-sm btn-success"
                        >
                          Realizar Consulta
                        </button>
                        <button
                          (click)="onEdit(user)"
                          class="btn btn-sm btn-danger"
                          style="margin-left: 5px"
                        >
                          Remarcar Consulta
                        </button>
                      </div>
                    </td>

                    <!--  <td style="width: 15%;" class=" td_item text-center">
                                  <div class="div_item" *ngIf="user.isEdit">
                                  <button class="btn btn-sm btn-success" style="margin-right: 5px;">Atualizar</button>
                                  <button class="btn btn-sm btn-danger" (click)="user.isEdit = false">Cancelar</button>
                                  </div> -->
                    <!--   <div class="div_item">
                                  <button class="btn btn-sm btn-success" (click)="onEdit(user)">Realizar consulta</button>
                                  <button (click)="removeUser(i)" class="btn btn-sm btn-danger" style="margin-left: 5px;">Remarcar consulta</button>
                              </div> -->
                    <!-- </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
